body{
    background-color: rgb(12, 11, 11);
}
.heading{
    text-align: center;
    color: rgb(75, 102, 151);
}

.text-item{
    text-align: center;
}

.button{
    width: 66px;
    margin: 10px 3px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.row input{
    padding: 15px 0;
    margin: 0;
    width: 288px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
}